:root {
    --left-space: 48px;
  }

@font-face
{
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

body 
{
    display: flex;
    margin: 0px;
    height: 99vh;
}

#left 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
    background: url("images/coffee_unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

#leftFooter
{
    position: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#right
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 
{
    font-size: 50px;

}

#rightHeader
{
    font-size: 50px;
    margin-left: 5px;
}

#banner
{
    background-color: black;
    opacity: 0.6;
    font-family: Norse;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125px;
    margin: 80% 0%;
}

#odin
{
    height: 125px;
}


#center 
{
    margin-left: 5px;
    width: 100%;
    border: 1px aliceblue;
    box-shadow: 5px 5px rgb(189, 208, 226);
    border-radius: 5px;
    background-color: aliceblue;
}

td
{
    padding: 5px 15px;
}

#rightFooter
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
}

#createAccount
{
    width: 33%;
    background-color: green;
    color: white;
    font-size: 40px;
    border-radius: 15px;
}

#existingAccount
{
    font-size: 20px;
}

.error 
{
    border: 3px solid red;
    border-radius: 3px;
}

:focus
{
    border: 3px solid blue;
    border-radius: 3px;
    /* box-shadow: 3px 3px blue; */
}